<template>
  <el-input
    size="mini"
    placeholder="Buscar"
    prefix-icon="el-icon-search"
    v-model="search"
    clearable
  />
</template>

<script>
export default {
  nmae: "Buscador",
  data() {
    return {
      search: ""
    };
  },
  watch: {
    search(value) {
      if (value.length == 0 || value.length > 2) {
        this.$emit("buscar", value);
      }
    }
  }
};
</script>