<template>
  <div>
    <el-dialog
      :title="`Filtro ${filtro_name}`"
      :visible.sync="showFilterConfiguration"
      width="500px"
    >
      <div class="flex flex-col space-y-4">
        <span>Agrega los productos que deseas para este filtro</span>
        <div class="flex flex-col space-y-1">
          <span class="text-xs">Seleccionar producto:</span>
          <div class="flex space-x-2">
            <el-select
              class="w-10/12"
              remote
              reserve-keyword
              :remote-method="remoteMethod"
              v-model="selectedProduct"
              placeholder="Escribir codigo o nombre del producto"
              size="small"
              filterable
              default-first-option
              clearable
            >
              <el-option
                v-for="producto in fileredOptions"
                :key="producto.code"
                :label="`${producto.code} - ${producto.name}`"
                :value="producto.code"
              ></el-option>
            </el-select>
            <el-button
              class="flex-1"
              type="primary"
              size="small"
              @click="addToFiltro(selectedProduct)"
            >Agregar</el-button>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex bg-gray-200 border border-gray-400 rounded-t">
            <div
              class="h-6 border-gray-400 border-r leading-none flex items-center px-1 font-semibold w-2/12"
              style="font-size: 10px;"
            >
              <span>Material</span>
            </div>
            <div
              class="h-6 border-gray-400 border-r leading-none flex items-center px-1 font-semibold w-8/12"
              style="font-size: 10px;"
            >
              <span>Texto breve material</span>
            </div>
            <div
              class="h-6 border-gray-400 leading-none flex items-center px-1 font-semibold w-2/12"
              style="font-size: 10px;"
            ></div>
          </div>
          <template v-if="filtroProductos.length > 0">
            <div
              v-for="(row, k) in filtroProductos"
              :key="k"
              class="flex flex-col border-r border-l border-b border-gray-400 text-xs"
              :class="[{'rounded-b': k + 1 == filtroProductos.length}]"
            >
              <div class="flex flex-row">
                <div
                  class="h-6 border-gray-400 leading-none flex items-center px-1 w-2/12 border-r"
                >{{ row.code }}</div>
                <div
                  class="h-6 border-gray-400 leading-none flex items-center px-1 w-8/12 border-r"
                >{{ row.name }}</div>
                <div
                  class="h-6 border-gray-400 leading-none flex items-center justify-center px-1 w-2/12"
                >
                  <span
                    class="font-semibold text-red-500 hover:text-red-600 cursor-pointer"
                    @click="deleteProduct(k)"
                  >Eliminar</span>
                </div>
              </div>
            </div>
          </template>
          <template v-else>
            <div
              class="flex items-center justify-center border-r border-l border-b border-gray-400 rounded-b h-7 text-gray-600"
            >No hay datos que mostrar, agrega productos.</div>
          </template>
        </div>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button
          class="flex-1"
          type="primary"
          size="small"
          @click="savetoDB(filtro.selected)"
        >Guardar</el-button>
        <el-button size="small" @click="showFilterConfiguration = false">Cancel</el-button>
      </span>
    </el-dialog>
    <div class="flex space-x-2">
      <el-button-group>
        <el-button
          size="mini"
          :type="activo == null ? 'info' : activo == 1 ? 'success' : 'info'"
          @click="$emit('activatefiltro', {selected: 1, products: getProductsFiltro(1)})"
        >Filtro 1</el-button>
        <el-button size="mini" icon="el-icon-s-tools" @click="openSettings(1)" />
      </el-button-group>
      <el-button-group>
        <el-button
          size="mini"
          :type="activo == null ? 'info' : activo == 2 ? 'success' : 'info'"
          @click="$emit('activatefiltro', {selected: 2, products: getProductsFiltro(2)})"
        >Filtro 2</el-button>
        <el-button size="mini" icon="el-icon-s-tools" @click="openSettings(2)" />
      </el-button-group>
      <el-button-group>
        <el-button
          size="mini"
          :type="activo == null ? 'info' : activo == 3 ? 'success' : 'info'"
          @click="$emit('activatefiltro', {selected: 3, products: getProductsFiltro(3)})"
        >Filtro 3</el-button>
        <el-button size="mini" icon="el-icon-s-tools" @click="openSettings(3)" />
      </el-button-group>
    </div>
  </div>
</template>

<script>
export default {
  name: "Filters",
  props: ["activo"],
  data() {
    return {
      showFilterConfiguration: false,
      productos: [],
      selectedProduct: "",
      fileredOptions: [],
      filtro: {
        selected: null,
        products: []
      },
      filtros: [],
      filtro_name: ""
    };
  },
  methods: {
    async openSettings(filtro) {
      this.selectedProduct = "";
      const selectedFiltros = this.filtros.find(f => f.FILTRO == filtro);
      let productos = await this.$axios.$get("/tablefs", {
        params: {
          table: "MAKT",
          where: `SPRAS = 'S'`,
          fields: "MATNR,MAKTX"
        }
      });
      this.filtro = {
        selected: filtro,
        products:
          selectedFiltros != null && selectedFiltros.PRODUCTOS != null
            ? selectedFiltros.PRODUCTOS.split(",")
            : []
      };
      this.productos = productos.DATA.map(p => {
        const row = p.WA.split(";");
        return {
          code: parseInt(row[0]),
          name: row[1]
        };
      });
      this.filtro_name = filtro;
      this.showFilterConfiguration = true;
    },
    remoteMethod(query) {
      if (query.length > 2) {
        this.fileredOptions = this.productos.filter(p => {
          const code = p.code.toString().toLowerCase();
          const name = p.name.toLowerCase();
          return (
            code.includes(query.toLowerCase()) ||
            name.includes(query.toLowerCase())
          );
        });
      } else {
        this.fileredOptions = [];
      }
    },
    addToFiltro(code) {
      if (code == "") {
        return false;
      }
      const exist = this.filtro.products.find(p => p == code);
      if (exist) {
        return this.$notify.error({
          title: "Error",
          message: "El producto ya esta en esta lista."
        });
      } else {
        this.filtro.products.push(code);
      }
    },
    deleteProduct(key) {
      delete this.filtro.products.splice(key, 1);
    },
    savetoDB(filtro) {
      this.$confirm(
        "¿Estás seguro que deseas guardar estos productos para este filtro?",
        "Confirmación",
        {
          confirmButtonText: "Si, guardar",
          cancelButtonText: "Cancelar",
          type: "warning",
          beforeClose: (action, instance, done) => {
            if (action === "confirm") {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = "Procesando...";
              this.$axios
                .$post(`/visor/filtros/${filtro}`, {
                  USER_ID: this.$store.state.USER_ID,
                  PRODUCTOS: this.filtro.products.join(",")
                })
                .then(res => {
                  this.$notify({
                    title: "ÉXITO",
                    message: res.message,
                    type: "success"
                  });
                  instance.confirmButtonLoading = false;
                  instance.confirmButtonText = "Si, guardar";
                  this.filtros = res.filtros;
                  this.showFilterConfiguration = false;
                  done();
                })
                .catch(err => {
                  this.$notify({
                    title: "ERROR",
                    message:
                      "Ha ocurrido un error al actualizar, contacta con tu administrador.",
                    type: "error"
                  });
                });
            } else {
              done();
            }
          }
        }
      );
    },
    getProductsFiltro(value) {
      const filtro = this.filtros.find(f => f.FILTRO == value);
      return filtro != null ? filtro.PRODUCTOS.split(",") : [];
    }
  },
  computed: {
    filtroProductos() {
      return this.filtro.products.map(code =>
        this.productos.find(product => product.code == code)
      );
    }
  },
  async fetch() {
    const filtros = await this.$axios.$get("/visor/filtros", {
      params: {
        USER_ID: this.$store.state.USER_ID
      }
    });
    this.filtros = filtros.filtros;
  },
  fetchOnServer: true
};
</script>