<template>
  <div class="flex flex-col text-gray-700">
    <!-- cuerpo tabla -->
    <template v-if="table.length > 0">
      <div
        v-for="(row, key) in table"
        :key="key"
        class="flex flex-col border-b border-gray-400 cursor-pointer"
      >
        <div class="flex flex-row">
          <div v-for="(cell, k) in cells" :key="k" :style="{width: cell.width}">
            <div
              class="h-8 border-gray-400 leading-none flex items-center px-1"
              style="font-size: 10px"
              :class="[
                cell.class,
                { 'border-r': k+1 < cells.length }
              ]"
            >{{ row[k] }}</div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  name: "Table",
  props: ["cells", "table"]
};
</script>