<template>
  <div class="flex justify-center items-center w-screen h-screen bg-gray-100">
    <div
      class="flex flex-col items-center bg-white w-80 border-t-4 border-orange-600 shadow rounded px-6 py-10 space-y-6"
    >
      <div class="flex items-center justify-center">
        <img src="../../assets/images/logo.c4f20b43.png" class="h-12" alt />
      </div>
      <span
        class="text-orange-800 text-xl leading-tight text-center"
      >PLANIFICACIÓN DE COMPRAS DE MATERIAL</span>
      <div class="flex flex-col items-center justify-center space-y-3 w-full">
        <el-input class="w-full" placeholder="USUARIO" v-model="login.user" />
        <el-input class="w-full" placeholder="CONTRASEÑA" v-model="login.pass" show-password />
        <el-button
          class="w-full"
          type="primary"
          @click="processLogin(login)"
          :loading="loading"
        >Iniciar sesión</el-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: "authenticated",
  name: "LoginPage",
  data() {
    return {
      login: {
        user: "",
        pass: ""
      },
      loading: false
    };
  },
  methods: {
    processLogin({ user, pass }) {
      if (user == "" || pass == "") {
        return this.$notify.error({
          title: "Error",
          message: "Usuario y contraseña con requeridos."
        });
      }
      this.loading = true;

      this.$axios
        .$post("/login", { user, pass, app: "VISOR-IMP" })
        .then(res => {
          if (!res.success) {
            return this.$notify.error({
              title: "Error",
              message: res.msj
            });
          }
          this.$store.commit("logged", {
            status: res.success,
            username: res.username,
            USER_ID: res.USER_ID
          });
          this.$router.push("/");
        })
        .then(alw => (this.loading = false));
    }
  }
};
</script>