/* Color del tema */
$--color-primary: #dd6b20;

$--color-success: #38a169 !default;
$--color-warning: #d69e2e !default;
$--color-danger: #e53e3e !default;
$--color-info: #4299e1 !default;

/* Ubicación de la fuente, obligatoria */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
