<template>
  <div
    class="flex flex-col h-screen bg-gray-100"
    v-loading="loading"
    element-loading-text="Cargando..."
    element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(0, 0, 0, 0.8)"
  >
    <el-dialog
      title="Configuración de máximos y mínimos"
      :visible.sync="settingsVisible"
      width="500px"
    >
      <el-tabs v-model="activeTabName">
        <el-tab-pane label="POR GRUPO" name="group">
          <div class="flex flex-col space-y-4">
            <div class="flex flex-col">
              <span class="text-xs">Seleccionar grupo:</span>
              <el-select
                class="w-full"
                v-model="settings.group.group"
                placeholder="Seleccionar grupo"
                size="small"
                filterable
                default-first-option
                clearable
                remote
                reserve-keyword
                :remote-method="remoteMethodGroup"
                @change="
                  setTempMinMaxGroups(
                    settings.group.grupos,
                    settings.group.group
                  )
                "
              >
                <el-option
                  v-for="grupo in settings.group.filtered"
                  :key="grupo.code"
                  :label="`${grupo.code} - ${grupo.name}`"
                  :value="grupo.code"
                >
                  <div class="flex justify-between">
                    <span>{{ `${grupo.code} - ${grupo.name}` }}</span>
                    <span class="text-xs text-gray-600"
                      >MIN: {{ grupo.min }} | MAX: {{ grupo.max }}</span
                    >
                  </div>
                </el-option>
              </el-select>
            </div>
            <div
              class="flex grid grid-cols-12 space-x-4"
              v-if="settings.group.group != ''"
            >
              <div class="flex flex-col justify-end col-span-4">
                <span class="text-xs">Stock minimo:</span>
                <el-input-number
                  controls-position="right"
                  class="w-full"
                  size="small"
                  v-model="settings.group.min"
                  :min="0"
                />
              </div>
              <div class="flex flex-col justify-end col-span-4">
                <span class="text-xs">Stock máximo:</span>
                <el-input-number
                  controls-position="right"
                  class="w-full"
                  size="small"
                  v-model="settings.group.max"
                  :min="0"
                />
              </div>
              <div class="flex flex-col justify-end col-span-4">
                <el-button
                  class="w-full"
                  type="primary"
                  size="small"
                  @click="updateMinMax(settings.group, 'group')"
                  >Actualizar</el-button
                >
              </div>
            </div>
          </div>
        </el-tab-pane>
        <el-tab-pane label="POR PRODUCTO" name="product">
          <div class="flex flex-col space-y-4">
            <div class="flex flex-col">
              <span class="text-xs">Seleccionar producto:</span>
              <el-select
                class="w-full"
                v-model="settings.product.product"
                placeholder="Seleccionar grupo"
                size="small"
                filterable
                default-first-option
                clearable
                remote
                reserve-keyword
                :remote-method="remoteMethodProduct"
                @change="
                  setTempMinMaxProducts(
                    settings.product.productos,
                    settings.product.product
                  )
                "
              >
                <el-option
                  v-for="producto in settings.product.filtered"
                  :key="producto.code"
                  :label="`${producto.code} - ${producto.name}`"
                  :value="producto.code"
                >
                  <div class="flex justify-between">
                    <span>{{ `${producto.code} - ${producto.name}` }}</span>
                    <span class="text-xs text-gray-600"
                      >MIN: {{ producto.min }} | MAX: {{ producto.max }}</span
                    >
                  </div>
                </el-option>
              </el-select>
            </div>
            <div
              class="flex grid grid-cols-12 space-x-4"
              v-if="settings.product.product != ''"
            >
              <div class="flex flex-col justify-end col-span-4">
                <span class="text-xs">Stock minimo:</span>
                <el-input-number
                  controls-position="right"
                  class="w-full"
                  size="small"
                  v-model="settings.product.min"
                  :min="0"
                />
              </div>
              <div class="flex flex-col justify-end col-span-4">
                <span class="text-xs">Stock máximo:</span>
                <el-input-number
                  controls-position="right"
                  class="w-full"
                  size="small"
                  v-model="settings.product.max"
                  :min="0"
                />
              </div>
              <div class="flex flex-col justify-end col-span-4">
                <el-button
                  class="w-full"
                  type="primary"
                  size="small"
                  @click="updateMinMax(settings.product, 'product')"
                  >Actualizar</el-button
                >
              </div>
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>

      <span slot="footer" class="dialog-footer">
        <el-button size="small" @click="settingsVisible = false"
          >Cancel</el-button
        >
      </span>
    </el-dialog>

    <!-- encabezado -->
    <div class="flex py-3 bg-orange-600">
      <div class="flex justify-between container mx-auto">
        <div class="flex items-center justify-center space-x-6">
          <img class="h-6" src="../assets/images/logo.c4f20b43.png" alt />
          <span
            class="text-sm text-orange-100 font-semibold tracking-wider uppercase"
            >PLANIFICACIÓN DE COMPRAS DE MATERIAL</span
          >
        </div>
        <div class="flex space-x-10">
          <Filters
            :disabled="values.length == 0"
            :activo="filtroActivo.selected"
            @activatefiltro="activateFiltro($event)"
          />
          <div
            class="flex items-center text-white leading-none text-sm space-x-2"
          >
            <span>{{ $store.state.username }}</span>
            <el-tooltip
              class="item"
              effect="dark"
              content="Cerrar sesión"
              placement="left"
            >
              <div class="cursor-pointer" @click="processLogout()">
                <svg
                  fill="none"
                  class="w-5 h-5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"
                  />
                </svg>
              </div>
            </el-tooltip>
          </div>
        </div>
      </div>
    </div>
    <!-- contenido -->
    <div
      class="flex flex-col flex-1 container mx-auto border-r border-l bg-white py-6 px-4 text-xs text-gray-800 space-y-6"
    >
      <!-- filtros -->
      <div class="flex justify-between items-end">
        <div class="flex space-x-2 w-full">
          <div class="flex flex-col uppercase w-60 space-y-1">
            <span>Centros</span>
            <el-select
              v-model="filtros.centros"
              placeholder="Select"
              size="small"
              filterable
              default-first-option
              clearable
              multiple
              :filter-method="filterCentros"
              @change="updateAlamacenes(filtros.centros)"
            >
              <el-option
                v-for="centro in centros"
                :key="centro.code"
                :label="`${centro.code}`"
                :value="centro.code"
              >
                <div class="flex space-x-2">
                  <span class="text-gray-51000 text-xs">{{ centro.code }}</span>
                  <span>{{ centro.name }}</span>
                </div>
              </el-option>
            </el-select>
          </div>
          <div class="flex flex-col uppercase w-60 space-y-1">
            <span>Almacenes</span>
            <el-select
              v-model="filtros.almacenes"
              placeholder="Select"
              size="small"
              filterable
              default-first-option
              clearable
              multiple
              :filter-method="filterAlmacenes"
              :collapse-tags="true"
              :disabled="filtros.grouped"
            >
              <el-option-group
                v-for="centro in almacenes"
                :key="centro.code"
                :label="`${centro.code} ${centro.name}`"
              >
                <el-option
                  v-for="almacen in centro.almacenes"
                  :key="almacen.code"
                  :label="`${centro.code} - ${almacen.code}`"
                  :value="almacen.code"
                >
                  <div class="flex space-x-2">
                    <span class="text-gray-51000 text-xs">{{
                      almacen.code
                    }}</span>
                    <span>{{ almacen.name }}</span>
                  </div>
                </el-option>
              </el-option-group>
            </el-select>
          </div>
          <div class="flex flex-col uppercase w-20 space-y-1">
            <span>Año</span>
            <el-select
              v-model="filtros.year"
              placeholder="Año"
              size="small"
              filterable
              default-first-option
            >
              <el-option
                v-for="(year, k) in years"
                :key="k"
                :label="year"
                :value="year"
              ></el-option>
            </el-select>
          </div>
          <div class="flex flex-col justify-end">
            <el-radio-group
              v-model="filtros.grouped"
              @change="changeDetailsFilter"
            >
              <el-radio :label="true" size="small" border>Totales</el-radio>
              <el-radio :label="false" size="small" border>Detallado</el-radio>
            </el-radio-group>
          </div>
          <div class="flex flex-col justify-end">
            <el-checkbox
              v-model="filtros.empty"
              label="Filtrar vacios"
              border
              size="small"
            ></el-checkbox>
          </div>
          <div class="flex flex-col justify-end">
            <el-button
              size="small"
              type="primary"
              icon="el-icon-search"
              @click="search(filtros)"
              >Buscar</el-button
            >
          </div>
        </div>
        <el-tooltip
          class="item"
          effect="dark"
          content="Configuraciones"
          placement="top"
        >
          <el-button
            type="primary"
            icon="el-icon-s-tools"
            size="small"
            @click="settingsVisible = true"
          ></el-button>
        </el-tooltip>
      </div>

      <!-- listado de materiales -->
      <div class="flex flex-col space-y-2">
        <div class="flex justify-between">
          <div class="grid grid-cols-12 gap-3">
            <div class="col-span-3 flex space-x-3">
              <div class="w-2/3">
                <Buscador @buscar="updateBuscador($event)" />
              </div>
              <div class="w-1/3">
                <el-select
                  class="w-full"
                  v-model="filtros.grupo_articulo"
                  placeholder="Seleccionar grupo"
                  size="mini"
                  filterable
                  default-first-option
                  clearable
                >
                  <el-option
                    v-for="grupo in grupo_articulos"
                    :key="grupo.code"
                    :label="`${grupo.code} - ${grupo.name}`"
                    :value="grupo.code"
                  ></el-option>
                </el-select>
              </div>
            </div>
            <div class="col-span-3">
              <el-radio-group v-model="filtros.showMoney">
                <el-radio :label="false" size="mini" border
                  >Consum. Cantidad</el-radio
                >
                <el-radio :label="true" size="mini" border
                  >Consum. Dinero</el-radio
                >
              </el-radio-group>
            </div>
            <div class="col-span-3 flex justify-end">
              <el-radio-group
                v-model="filtros.consumoProm"
                @change="resetDays(filtros.consumoProm)"
              >
                <el-radio :label="false" size="mini" border
                  >Consum. Dia</el-radio
                >
                <el-radio :label="true" size="mini" border
                  >Consum. Prom</el-radio
                >
              </el-radio-group>
            </div>
            <div class="col-span-3">
              <el-date-picker
                class="w-full"
                size="mini"
                v-model="filtros.range"
                type="monthrange"
                align="right"
                unlink-panels
                range-separator="-"
                start-placeholder="Mes inicial"
                end-placeholder="mes final"
                :picker-options="pickerOptions"
                :disabled="!filtros.consumoProm"
                format="MMM-yyyy"
              />
            </div>
          </div>
        </div>
        <div class="flex justify-between">
          <span class="text-gray-600">{{ filtered.length }} resultados</span>
          <div class="flex space-x-2 items-end">
            <span>Filtrar:</span>
            <el-tooltip
              v-for="(c, k) in colors"
              :key="k"
              class="item"
              effect="dark"
              :content="c.message"
              placement="top"
            >
              <button
                class="w-8 h-4 flex justify-center rounded"
                :class="[c.class]"
                @click="filterByColor(c)"
              >
                <svg
                  v-if="c.active"
                  class="w-4 h-4 text-white"
                  viewBox="0 0 20 20"
                >
                  <svg
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path d="M5 13l4 4L19 7" />
                  </svg>
                </svg>
              </button>
            </el-tooltip>
          </div>
        </div>
        <!-- tabla -->
        <div class="flex flex-col text-gray-700">
          <!-- encabezado tabla -->
          <div
            class="flex top-0 sticky bg-gray-200 border border-gray-400 rounded-t"
          >
            <div
              v-for="(cell, k) in cells"
              :key="k"
              :style="{ width: cell.width }"
              class="h-6 border-gray-400 leading-none flex items-center justify-between px-1 font-semibold cursor-pointer"
              style="font-size: 10px"
              :class="{
                'border-r': k + 1 < cells.length,
              }"
              @click="sortRow(k)"
            >
              <span>{{ getTitle(titles, months, k) }}</span>
              <div class="text-orange-600" v-if="titles[k].state != null">
                <svg
                  class="w-3 h-3"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="3"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path d="M19 9l-7 7-7-7" v-if="titles[k].state == 1" />
                  <path d="M5 15l7-7 7 7" v-if="titles[k].state == 2" />
                </svg>
              </div>
            </div>
          </div>
          <!-- cuerpo tabla -->
          <template v-if="table.length > 0">
            <div
              v-for="(row, key) in table"
              :key="key"
              class="flex flex-col border-r border-l border-b border-gray-400 cursor-pointer"
              :class="[
                {
                  'rounded-b': key + 1 == values.length,
                },
                cellColor(filtered, row[0]),
              ]"
            >
              <div
                class="flex flex-row"
                @click="extendRow(rowExtended, key, showDetalleCompras)"
              >
                <div
                  v-for="(cell, k) in cells"
                  :key="k"
                  :style="{ width: cell.width }"
                  @click="
                    k == 12
                      ? (showDetalleCompras = true)
                      : (showDetalleCompras = false)
                  "
                >
                  <!-- Celda que muestra la fecha de cobertura -->
                  <el-tooltip
                    v-if="k == 11"
                    class="item"
                    effect="dark"
                    :content="`Cobertura: ${getCobertura(row[k])}`"
                    placement="top"
                    :enterable="false"
                  >
                    <div
                      class="h-8 border-gray-400 leading-none flex items-center px-1"
                      style="font-size: 10px"
                      :class="[
                        cell.class,
                        { 'border-r': k + 1 < cells.length },
                      ]"
                    >
                      {{ formatNumber(row[k]) }}
                    </div>
                  </el-tooltip>
                  <!-- Celda para el grafico pequeño -->
                  <!-- clicable -->
                  <div
                    v-else-if="k == 12"
                    class="flex justify-between items-center h-8 border-gray-400 leading-none flex items-center px-1"
                    style="font-size: 10px"
                    :class="[cell.class, { 'border-r': k + 1 < cells.length }]"
                  >
                    <svg
                      fill="none"
                      class="w-4 h-4 fill-current"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122"
                      />
                    </svg>
                    <span>{{ k == 5 ? formatMoney(row[k], 3) : row[k] }}</span>
                  </div>

                  <div
                    v-else-if="k == 15"
                    class="h-8 border-gray-400 leading-none flex items-center justify-end p-1"
                    style="font-size: 10px"
                    :class="{
                      'border-r': k + 1 < cells.length,
                    }"
                  >
                    <small-line-chart
                      v-if="rowExtended != key"
                      :chartdata="chartdata(row[15])"
                      style="height:100%; width:100%;"
                    ></small-line-chart>
                  </div>
                  <!-- Celdas normales -->
                  <div
                    v-else
                    class="h-8 border-gray-400 leading-none flex items-center px-1"
                    style="font-size: 10px"
                    :class="[cell.class, { 'border-r': k + 1 < cells.length }]"
                  >
                    {{ k == 5 ? formatMoney(row[k], 3) : row[k] }}
                  </div>
                </div>
              </div>

              <div v-if="key == rowExtended" class="bg-white text-gray-700">
                <table-custom
                  :cells="subTable.cells"
                  :table="subTable.table"
                  class
                />
                <div class="p-1 flex flex-col w-full" v-if="showDetalleCompras">
                  <span class="font-semibold mb-1">DETALLE DE COMPRAS</span>
                  <div
                    class="flex top-0 sticky bg-gray-200 border border-gray-400 rounded-t"
                  >
                    <div
                      v-for="(cell, k) in subtablePurchases.cells"
                      :key="k"
                      :style="{ width: cell.width }"
                      class="h-6 border-gray-400 leading-none flex items-center justify-between px-1 cursor-pointer font font-semibold"
                      style="font-size: 10px;"
                      :class="{
                        'border-r': k + 1 < cells.length,
                      }"
                    >
                      <span>{{ subtablePurchases.titles[k].name }}</span>
                    </div>
                  </div>
                  <template v-if="subtablePurchases.values.length > 0">
                    <div
                      v-for="(row, key) in subtablePurchases.values"
                      :key="key"
                      class="flex flex-col border-r border-l border-b border-gray-400 cursor-pointer"
                      :class="[
                        {
                          'rounded-b':
                            key + 1 == subtablePurchases.values.length,
                        },
                      ]"
                    >
                      <div class="flex flex-row">
                        <div
                          v-for="(cell, k) in subtablePurchases.cells"
                          :key="k"
                          :style="{ width: cell.width }"
                        >
                          <!-- Celdas normales -->
                          <div
                            class="h-6 border-gray-400 leading-none flex items-center px-1"
                            style="font-size: 10px"
                            :class="[
                              cell.class,
                              { 'border-r': k + 1 < cells.length },
                            ]"
                          >
                            {{ row[subtablePurchases.titles[k].value] }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </template>
                  <template v-else>
                    <div
                      class="flex items-center justify-center border-r border-l border-b border-gray-400 rounded-b h-8 text-gray-600"
                    >
                      No hay datos que mostrar, selecciona centro y almacén.
                    </div>
                  </template>
                </div>
                <div class="p-1 grid grid-cols-12 gap-4">
                  <div class="flex flex-col col-span-4 space-y-1 pr-1">
                    <div class="flex items-center justify-between h-8">
                      <span class="font-semibold mb-1">ALMACENES</span>
                      <el-radio-group
                        v-model="extendedFilters.showTotals"
                        size="mini"
                      >
                        <el-radio :label="false" border>Libre Util.</el-radio>
                        <el-radio :label="true" border>Total Inv.</el-radio>
                      </el-radio-group>
                    </div>
                    <div
                      class="flex flex-col border-b pb-1"
                      v-for="(c, k) in almacenesCentro.values"
                      :key="k"
                    >
                      <span>CENTRO: {{ c.code }}</span>
                      <div
                        class="flex justify-between text-gray-600"
                        v-for="(a, j) in c.almacenes"
                        :key="j"
                      >
                        <div class="flex space-x-2 w-9/12">
                          <span>{{ a.code }}</span>
                          <span>{{ a.name }}</span>
                        </div>
                        <div class="w-3/12 text-right">
                          <span>
                            {{
                              extendedFilters.showTotals
                                ? filtros.showMoney
                                  ? formatMoney(a.totalInvA, 3)
                                  : formatNumber(a.totalInv, 2)
                                : filtros.showMoney
                                ? formatMoney(a.libreUtilA, 3)
                                : formatNumber(a.libreUtil, 2)
                            }}
                          </span>
                        </div>
                      </div>
                      <div class="flex space-x-2 justify-end">
                        <div class="w-9/12 text-right">
                          <span class="text-gray-600">Subtotal:</span>
                        </div>
                        <div class="w-3/12 text-right">
                          <span>
                            {{
                              extendedFilters.showTotals
                                ? filtros.showMoney
                                  ? formatMoney(c.totalInvA, 3)
                                  : formatNumber(c.totalInv, 2)
                                : filtros.showMoney
                                ? formatMoney(c.libreUtilA, 3)
                                : formatNumber(c.libreUtil, 2)
                            }}
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="flex space-x-2 justify-end">
                      <div class="w-9/12 text-right">
                        <span>Total inventario:</span>
                      </div>
                      <div class="w-3/12 text-right">
                        <span class="font-semibold">
                          {{
                            extendedFilters.showTotals
                              ? filtros.showMoney
                                ? formatMoney(almacenesCentro.totalTotalInvA, 3)
                                : formatNumber(almacenesCentro.totalTotalInv, 2)
                              : filtros.showMoney
                              ? formatMoney(almacenesCentro.totalLibreUtilA, 3)
                              : formatNumber(almacenesCentro.totalLibreUtil, 2)
                          }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col col-span-2 pr-1">
                    <div class="h-8">
                      <span class="font-semibold mb-1">RESUMEN</span>
                    </div>
                    <div class="flex justify-between">
                      <span class="text-gray-600">Trasl:</span>
                      <span>{{ formatNumber(filtered[key].UMLME, 2) }}</span>
                    </div>
                    <div class="flex justify-between">
                      <span class="text-gray-600">En CtrlCal:</span>
                      <span>{{ formatNumber(filtered[key].INSME, 2) }}</span>
                    </div>
                    <div class="flex justify-between">
                      <span class="text-gray-600">No libre:</span>
                      <span>{{ formatNumber(filtered[key].EINME, 2) }}</span>
                    </div>
                    <div class="flex justify-between">
                      <span class="text-gray-600">Bloqueado:</span>
                      <span>{{ formatNumber(filtered[key].SPEME, 2) }}</span>
                    </div>
                    <div class="flex justify-between">
                      <span class="text-gray-600">Devol:</span>
                      <span>{{ formatNumber(filtered[key].RETME, 2) }}</span>
                    </div>
                    <div class="flex justify-between">
                      <span class="text-gray-600">LibreUtil:</span>
                      <span>{{ formatNumber(filtered[key].VMLAB, 2) }}</span>
                    </div>
                    <div class="flex justify-between">
                      <span class="text-gray-600">TraslStock:</span>
                      <span>{{ formatNumber(filtered[key].VMUML, 2) }}</span>
                    </div>
                    <div class="flex justify-between">
                      <span class="text-gray-600">En InslCal:</span>
                      <span>{{ formatNumber(filtered[key].VMINS, 2) }}</span>
                    </div>
                    <div class="flex justify-between">
                      <span class="text-gray-600">No libre:</span>
                      <span>{{ formatNumber(filtered[key].VMEIN, 2) }}</span>
                    </div>
                    <div class="flex justify-between">
                      <span class="text-gray-600">Bloqueado:</span>
                      <span>{{ formatNumber(filtered[key].VMSPE, 2) }}</span>
                    </div>
                    <div class="flex justify-between">
                      <span class="text-gray-600">Devol:</span>
                      <span>{{ formatNumber(filtered[key].VMRET, 2) }}</span>
                    </div>
                  </div>
                  <div class="relative flex flex-col col-span-6">
                    <div class="flex justify-end h-8">
                      <el-radio-group
                        v-model="extendedFilters.graphCompras"
                        @change="
                          updateDataCollection(extendedFilters.graphCompras)
                        "
                        size="mini"
                      >
                        <el-radio :label="false" border>Consumos</el-radio>
                        <el-radio :label="true" border>Compras</el-radio>
                      </el-radio-group>
                    </div>
                    <line-chart
                      :chart-data="datacollection"
                      style="height:250px; width:100%;"
                    ></line-chart>
                  </div>
                </div>
              </div>
            </div>
          </template>
          <template v-else>
            <div
              class="flex items-center justify-center border-r border-l border-b border-gray-400 rounded-b h-8 text-gray-600"
            >
              No hay datos que mostrar, selecciona centro y almacén.
            </div>
          </template>
        </div>
        <!-- paginacion -->
        <div class="flex justify-end">
          <el-pagination
            @size-change="handleSizeChange"
            :current-page.sync="pagination.page"
            :page-sizes="[25, 50, 100, 500]"
            :page-size="pagination.size"
            layout="total, sizes, prev, pager, next"
            :total="filtered.length"
          ></el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  differenceInDays,
  startOfMonth,
  endOfMonth,
  subMonths,
  format,
  addDays,
  startOfYear,
  endOfYear,
  subYears,
  getYear,
  getMonth,
  isSameDay,
} from "date-fns";
import * as R from "ramda";
import SmallLineChart from "../components/charts/SmallLine";
import LineChart from "../components/charts/Line";
import TableCustom from "../components/Table";
import Filters from "~/components/Filters";
import Buscador from "../components/Buscador";

export default {
  middleware: "authenticated",
  components: { SmallLineChart, LineChart, TableCustom, Filters, Buscador },
  data() {
    return {
      loading: false,
      centros: [],
      centrosCopy: [],
      almacenesCentro: {
        values: [],
      },
      almacenes: [],
      almacenesCopy: [],
      grupo_articulos: [],
      years: [2020, 2019, 2018],
      filtros: {
        year: new Date().getFullYear(),
        centros: [],
        grupo: "",
        almacenes: [],
        grupo_articulo: "",
        search: "",
        grouped: false,
        showMoney: false,
        consumoProm: false,
        empty: true,
        range: [startOfMonth(subMonths(new Date(), 1)), new Date()],
      },
      cells: [
        { class: "", width: "5%" },
        { class: "", width: "15.7%" },
        { class: "", width: "4.5%" },
        { class: "", width: "4.3%" }, //centro
        { class: "", width: "4.8%" }, //almacen
        { class: "justify-end", width: "4.1%" },
        { class: "justify-end", width: "5.1%" },
        { class: "justify-end font-semibold underline", width: "5.5%" },
        { class: "justify-end", width: "7.1%" },
        { class: "justify-end", width: "7.1%" },
        { class: "justify-end", width: "6.8%" },
        { class: "justify-end font-semibold underline", width: "6%" },
        { class: "justify-end font-semibold underline", width: "6%" },
        { class: "justify-end", width: "5.5%" },
        { class: "justify-end", width: "5.5%" },
        { class: "", width: "7%" },
      ],
      titles: [
        { hasSort: true, state: null, name: "Material" },
        { hasSort: true, state: null, name: "Texto breve material" },
        { hasSort: true, state: null, name: "Unidad" },
        { hasSort: true, state: null, name: "Centro" },
        { hasSort: true, state: null, name: "Almacen" },
        { hasSort: true, state: null, name: "Precio" },
        { hasSort: true, state: null, name: "Total Inv." },
        { hasSort: true, state: null, name: "Libre Util." },
        { hasSort: true, state: null, name: "Consumo" },
        { hasSort: true, state: null, name: "Consumo" },
        { hasSort: true, state: null, name: "Consumo Día" },
        { hasSort: true, state: null, name: "Durac. Días" },
        { hasSort: true, state: null, name: "En transito" },
        { hasSort: true, state: null, name: "Stock Min" },
        { hasSort: true, state: null, name: "Stock Max" },
        { hasSort: false, state: null, name: "" },
      ],
      values: [],
      months: {
        1: "ENE",
        2: "FEB",
        3: "MAR",
        4: "ABR",
        5: "MAY",
        6: "JUN",
        7: "JUL",
        8: "AGO",
        9: "SEP",
        10: "OCT",
        11: "NOV",
        12: "DIC",
      },
      pagination: {
        page: 1,
        size: 50,
      },
      rowExtended: null,
      colors: [
        {
          id: 1,
          message: "Lib Util > Stock Max",
          class: "bg-gray-600",
          active: false,
        },
        {
          id: 2,
          message: "Lib Util < Stock Min",
          class: "bg-red-500",
          active: false,
        },
        {
          id: 3,
          message: "Lib Util < Punto Medio",
          class: "bg-yellow-500",
          active: false,
        },
        {
          id: 4,
          message: "Lib Util > Punto Medio",
          class: "bg-green-500",
          active: false,
        },
      ],
      sorting: {
        active: false,
        key: null,
        type: null,
      },
      subTable: {
        cells: [
          { class: "", width: "25.2%" },
          { class: "", width: "4.3%" }, //centro
          { class: "", width: "4.8%" }, //almacen
          { class: "justify-end", width: "4.1%" },
          { class: "justify-end", width: "5.1%" },
          { class: "justify-end", width: "5.5%" },
          { class: "justify-end", width: "7.1%" },
          { class: "justify-end", width: "7.1%" },
          { class: "justify-end", width: "6.8%" },
          { class: "justify-end font-semibold", width: "6%" },
          { class: "justify-end", width: "6%" },
          { class: "justify-end", width: "5.5%" },
          { class: "justify-end", width: "5.5%" },
          { class: "", width: "7%" },
        ],
        table: [],
        purchases: [],
      },
      extendedFilters: {
        showTotals: false,
        graphCompras: false,
      },
      pickerOptions: {
        disabledDate(date) {
          return (
            date > new Date() || date < startOfYear(subYears(new Date(), 1))
          );
        },
        shortcuts: [
          {
            text: "Mes actual",
            onClick(picker) {
              const start = startOfMonth(new Date());
              const end = new Date();
              picker.$emit("pick", [start, end]);
            },
          },
          {
            text: "Mes pasado",
            onClick(picker) {
              const start = subMonths(startOfMonth(new Date()), 1);
              const end = subMonths(endOfMonth(new Date()), 1);
              picker.$emit("pick", [start, end]);
            },
          },
          {
            text: "Últimos 3",
            onClick(picker) {
              const start = subMonths(startOfMonth(new Date()), 3);
              const end = subMonths(endOfMonth(new Date()), 1);
              picker.$emit("pick", [start, end]);
            },
          },
          {
            text: "Últimos 6",
            onClick(picker) {
              const start = subMonths(startOfMonth(new Date()), 6);
              const end = subMonths(endOfMonth(new Date()), 1);
              picker.$emit("pick", [start, end]);
            },
          },
          {
            text: "Año pasado",
            onClick(picker) {
              const lastYear = subYears(new Date(), 1);
              const start = startOfYear(lastYear);
              const end = endOfYear(lastYear);
              picker.$emit("pick", [start, end]);
            },
          },
        ],
      },
      datacollection: {},
      settingsVisible: false,
      settings: {
        group: {
          filtered: [],
          grupos: [],
          group: "",
          min: 0,
          max: 0,
        },
        product: {
          filtered: [],
          productos: [],
          product: "",
          min: 0,
          max: 0,
        },
      },
      showDetalleCompras: false,
      subtablePurchases: {
        cells: [
          { class: "", width: "6%" },
          { class: "", width: "6%" },
          { class: "", width: "3%" },
          { class: "", width: "6%" },
          { class: "justify-end", width: "6%" },
          { class: "justify-end", width: "7%" },
          { class: "", width: "2%" },
          { class: "justify-end", width: "6%" },
          { class: "justify-end", width: "6%" },
          { class: "", width: "6%" },
          { class: "", width: "6%" },
          { class: "", width: "6%" },
          { class: "", width: "6%" },
          { class: "", width: "4%" },
          { class: "", width: "4%" },
          { class: "", width: "22%" },
        ],
        titles: [
          { value: "DOC_COMPRAS", name: "Doc. Compra" },
          { value: "SOL_PEDIDO", name: "Sol. Pedido" },
          { value: "POSICION", name: "Posic." },
          { value: "FECHA_UMODIF", name: "Fecha UMOD" },
          { value: "RECIBIDO", name: "Recibido" },
          { value: "CANTIDAD_PED", name: "Cantidad Ped." },
          { value: "UM", name: "UM" },
          { value: "PRECIO_NETO", name: "Precio Neto." },
          { value: "VALOR_NETO", name: "Valor Neto" },
          { value: "FECHA_CREAC", name: "Fecha Crea." },
          { value: "FECHA_DOC", name: "F. Entrega." },
          { value: "CREADO_POR", name: "Creado Por" },
          { value: "PROVEEDOR", name: "Proveedor" },
          { value: "COND_PAGO", name: "Cond P." },
          { value: "PAGO_EN", name: "Pago" },
          { value: "NOMBRE_PROV", name: "Nombre Prov." },
        ],
        values: [],
      },
      filtroActivo: {
        selected: null,
        products: [],
      },
      activeTabName: "group",
      productos: [],
      filteredProducts: [],
    };
  },
  methods: {
    updateBuscador(value) {
      this.filtros.search = value;
    },
    async updateAlamacenes(centros) {
      const listado = [];
      for (const c in centros) {
        const code = centros[c];
        const almacenes = await this.$axios.$get("/tablefs", {
          params: {
            table: "T001L",
            where: `WERKS = '${code}'`,
            fields: "WERKS,LGORT,LGOBE",
          },
        });
        listado.push({
          code,
          name: this.centros.find((c) => c.code == code).name,
          almacenes: almacenes.DATA.map((a) => {
            const splited = a.WA.split(";");
            return {
              centroCode: splited[0].trim(),
              code: splited[1].trim(),
              name: splited[2].trim(),
            };
          }),
        });
      }
      this.almacenes = listado;
      this.almacenesCopy = listado;
    },
    async search({ centros, almacenes, grouped, year, empty }) {
      if (centros.length == 0) {
        this.$notify.error({
          title: "Error",
          message: "Selecciona un centro y un almacén primero.",
        });
        return false;
      }
      this.values = [];
      let where = `LWERKS=${centros.join("")}${empty ? ",LSIN_CEROS=1" : ""}`;
      if (almacenes.length == 0) {
        this.filtros.grouped = true;
        grouped = true;
      } else {
        where += `,LLGORT=${almacenes.join("")}`;
      }
      where += `,LANIO=${year},LAGRUPADO=${grouped ? 1 : 0}`;

      this.loading = true;
      const materials = await this.$axios.get("/functionfs", {
        params: {
          path: "ZMMRFC_VISOR_IMP_CONSUM",
          where,
        },
      });
      this.rowExtended = null;
      this.loading = false;
      this.values = materials.data.IMP_Y_CONSUMOS;
    },
    handleSizeChange(val) {
      this.pagination.size = val;
    },
    chartdata(data1, data2 = null, data3 = null) {
      const datasets = [
        {
          label: new Date().getFullYear(),
          backgroundColor: "#48BB78",
          data: data1,
        },
      ];
      if (data2 != null) {
        datasets.unshift({
          label: new Date().getFullYear() - 1,
          backgroundColor: "#A0AEC0",
          data: data2,
        });
      }
      if (data3 != null) {
        datasets.unshift({
          label: "Diferencia",
          backgroundColor: "#4299E1",
          borderColor: "#4299E1",
          borderWidth: 2,
          data: data3,
          type: "line",
          fill: false,
        });
      }
      return {
        labels: Object.values(this.months),
        datasets,
      };
    },
    getTitle(titles, months, k) {
      if (titles[k] != null) {
        switch (k) {
          case 8:
            return `${titles[k].name} ${months[new Date().getMonth()]}`;
            break;
          case 9:
            return `${titles[k].name} ${months[new Date().getMonth() + 1]}`;
            break;
          default:
            return titles[k].name;
            break;
        }
      } else {
        return "";
      }
    },
    formatNumber(value, decimales = 2) {
      return value == null
        ? ""
        : new Intl.NumberFormat("en-US", {
            maximumFractionDigits: decimales,
            minimumFractionDigits: decimales,
          }).format(value);
    },
    formatMoney(value, decimales = 2) {
      return value == null
        ? ""
        : new Intl.NumberFormat("en-US", {
            style: "currency",
            currency: "USD",
            maximumFractionDigits: decimales,
            minimumFractionDigits: decimales,
          }).format(value);
    },
    dailyConsume(v) {
      const [start, end] = this.filtros.range;
      const isStartlastYear = getYear(start) < getYear(new Date());
      const isEndlastYear = getYear(end) < getYear(new Date());

      const startMonth = getMonth(start) + 1;
      const endMonth = getMonth(end) + 1;

      let sum = 0;
      if (isStartlastYear) {
        for (let i = startMonth; i <= (isEndlastYear ? endMonth : 12); i++) {
          sum += parseFloat(v[`${this.months[i]}_`]);
        }

        if (!isEndlastYear) {
          for (let i = 1; i <= endMonth; i++) {
            sum += parseFloat(v[`${this.months[i]}`]);
          }
        }
      } else {
        for (let i = startMonth; i <= endMonth; i++) {
          sum += parseFloat(v[`${this.months[i]}`]);
        }
      }

      if (sum > 0) {
        return (
          sum /
          (differenceInDays(
            isSameDay(end, new Date()) ? end : endOfMonth(end),
            startOfMonth(start)
          ) +
            1)
        );
      } else {
        return 0;
      }
    },
    duracionDias(v) {
      return v.LABST == 0
        ? 0
        : this.dailyConsume(v) == 0
        ? 0
        : v.LABST / this.dailyConsume(v);
    },
    getCobertura(days) {
      return format(addDays(new Date(), Math.round(days)), "dd/MM/yyyy");
    },
    async extendRow(rowExtended, key, showDetalleCompras) {
      if (rowExtended == key) {
        this.rowExtended = null;
        return false;
      }
      this.loading = true;
      this.extendedFilters.graphCompras = false;
      let almacenesCompletos = await this.$axios.$get("/tablefs", {
        params: {
          table: "T001L",
          fields: "WERKS,LGORT,LGOBE",
        },
      });
      almacenesCompletos = almacenesCompletos.DATA.map((a) => {
        const splited = a.WA.split(";");
        return {
          centroCode: splited[0].trim(),
          code: splited[1].trim(),
          name: splited[2].trim(),
        };
      });

      const purchases = await this.$axios.$get("/functionfs", {
        params: {
          path: "ZMMRFC_VISOR_IMP_CONSUM_COMP",
          where: `LMATNR=000000000000${
            this.table[key][0]
          },LANIO=${new Date().getFullYear()}`,
        },
      });

      if (showDetalleCompras) {
        const purchasesDetails = await this.$axios.$get("/functionfs", {
          params: {
            path: "ZMMRFC_VISOR_IMP_CONSUM_COMP",
            where: `LMATNR=000000000000${this.table[key][0]},LANIO=2020,LDETALLE=1`,
          },
        });
        this.subtablePurchases.values = purchasesDetails.COMPRAS_DET.map(
          (c) => {
            return {
              ...c,
              PRECIO_NETO: this.formatMoney(
                parseFloat(c.PRECIO_NETO) / 1000,
                3
              ),
              VALOR_NETO: this.formatMoney(parseFloat(c.VALOR_NETO) / 1000, 2),
              RECIBIDO: this.formatNumber(parseFloat(c.RECIBIDO), 2),
              CANTIDAD_PED: this.formatNumber(parseFloat(c.CANTIDAD_PED), 2),
              POSICION: parseInt(c.POSICION),
              FECHA_UMODIF: format(
                new Date(
                  c.FECHA_UMODIF.slice(0, 4),
                  parseInt(c.FECHA_UMODIF.slice(4, 6)) - 1,
                  c.FECHA_UMODIF.slice(6, 8)
                ),
                "dd/MM/yyyy"
              ),
              FECHA_CREAC: format(
                new Date(
                  c.FECHA_CREAC.slice(0, 4),
                  parseInt(c.FECHA_CREAC.slice(4, 6)) - 1,
                  c.FECHA_CREAC.slice(6, 8)
                ),
                "dd/MM/yyyy"
              ),
              FECHA_DOC: format(
                new Date(
                  c.FECHA_DOC.slice(0, 4),
                  parseInt(c.FECHA_DOC.slice(4, 6)) - 1,
                  c.FECHA_DOC.slice(6, 8)
                ),
                "dd/MM/yyyy"
              ),
            };
          }
        );
      }

      console.log(purchases);
      const subtablePurchases = [];
      const purchasesPrior = purchases.IMP_Y_COMPRAS.find(
        (p) => p.ANIO == getYear(subYears(new Date(), 1))
      );
      const purchasesCurrn = purchases.IMP_Y_COMPRAS.find(
        (p) => p.ANIO == getYear(new Date())
      );

      console.log(purchasesCurrn);

      subtablePurchases.push([
        parseFloat(purchasesCurrn.ENE).toFixed(2),
        parseFloat(purchasesCurrn.FEB).toFixed(2),
        parseFloat(purchasesCurrn.MAR).toFixed(2),
        parseFloat(purchasesCurrn.ABR).toFixed(2),
        parseFloat(purchasesCurrn.MAY).toFixed(2),
        parseFloat(purchasesCurrn.JUN).toFixed(2),
        parseFloat(purchasesCurrn.JUL).toFixed(2),
        parseFloat(purchasesCurrn.AGO).toFixed(2),
        parseFloat(purchasesCurrn.SEP).toFixed(2),
        parseFloat(purchasesCurrn.OCT).toFixed(2),
        parseFloat(purchasesCurrn.NOV).toFixed(2),
        parseFloat(purchasesCurrn.DIC).toFixed(2),
      ]);
      subtablePurchases.push([
        parseFloat(purchasesPrior.ENE).toFixed(2),
        parseFloat(purchasesPrior.FEB).toFixed(2),
        parseFloat(purchasesPrior.MAR).toFixed(2),
        parseFloat(purchasesPrior.ABR).toFixed(2),
        parseFloat(purchasesPrior.MAY).toFixed(2),
        parseFloat(purchasesPrior.JUN).toFixed(2),
        parseFloat(purchasesPrior.JUL).toFixed(2),
        parseFloat(purchasesPrior.AGO).toFixed(2),
        parseFloat(purchasesPrior.SEP).toFixed(2),
        parseFloat(purchasesPrior.OCT).toFixed(2),
        parseFloat(purchasesPrior.NOV).toFixed(2),
        parseFloat(purchasesPrior.DIC).toFixed(2),
      ]);
      subtablePurchases.push([
        parseFloat(purchasesCurrn.ENE) == 0
          ? 0
          : (
              parseFloat(purchasesCurrn.ENE) - parseFloat(purchasesPrior.ENE)
            ).toFixed(2),
        parseFloat(purchasesCurrn.FEB) == 0
          ? 0
          : (
              parseFloat(purchasesCurrn.FEB) - parseFloat(purchasesPrior.FEB)
            ).toFixed(2),
        parseFloat(purchasesCurrn.MAR) == 0
          ? 0
          : (
              parseFloat(purchasesCurrn.MAR) - parseFloat(purchasesPrior.MAR)
            ).toFixed(2),
        parseFloat(purchasesCurrn.ABR) == 0
          ? 0
          : (
              parseFloat(purchasesCurrn.ABR) - parseFloat(purchasesPrior.ABR)
            ).toFixed(2),
        parseFloat(purchasesCurrn.MAY) == 0
          ? 0
          : (
              parseFloat(purchasesCurrn.MAY) - parseFloat(purchasesPrior.MAY)
            ).toFixed(2),
        parseFloat(purchasesCurrn.JUN) == 0
          ? 0
          : (
              parseFloat(purchasesCurrn.JUN) - parseFloat(purchasesPrior.JUN)
            ).toFixed(2),
        parseFloat(purchasesCurrn.JUL) == 0
          ? 0
          : (
              parseFloat(purchasesCurrn.JUL) - parseFloat(purchasesPrior.JUL)
            ).toFixed(2),
        parseFloat(purchasesCurrn.AGO) == 0
          ? 0
          : (
              parseFloat(purchasesCurrn.AGO) - parseFloat(purchasesPrior.AGO)
            ).toFixed(2),
        parseFloat(purchasesCurrn.SEP) == 0
          ? 0
          : (
              parseFloat(purchasesCurrn.SEP) - parseFloat(purchasesPrior.SEP)
            ).toFixed(2),
        parseFloat(purchasesCurrn.OCT) == 0
          ? 0
          : (
              parseFloat(purchasesCurrn.OCT) - parseFloat(purchasesPrior.OCT)
            ).toFixed(2),
        parseFloat(purchasesCurrn.NOV) == 0
          ? 0
          : (
              parseFloat(purchasesCurrn.NOV) - parseFloat(purchasesPrior.NOV)
            ).toFixed(2),
        parseFloat(purchasesCurrn.DIC) == 0
          ? 0
          : (
              parseFloat(purchasesCurrn.DIC) - parseFloat(purchasesPrior.DIC)
            ).toFixed(2),
      ]);
      this.subTable.purchases = subtablePurchases;

      const res = await this.$axios.$get("/tablefs", {
        params: {
          table: "MARD",
          where: `MATNR = '000000000000${this.table[key][0]}'`, // remove año LFGJA = 2020 AND
          fields: "WERKS,LGORT,LABST,UMLME,INSME,EINME,SPEME,RETME,VMLAB,VMUML",
        },
      });

      const values = res.DATA.map((d) => {
        const splited = d.WA.split(";");
        const totalInv =
          parseFloat(splited[2].trim()) +
          parseFloat(splited[3].trim()) +
          parseFloat(splited[4].trim()) +
          parseFloat(splited[5].trim()) +
          parseFloat(splited[6].trim()) +
          parseFloat(splited[7].trim()) +
          parseFloat(splited[8].trim()) +
          parseFloat(splited[9].trim());
        const libreUtil = parseFloat(splited[2].trim());
        if (totalInv > 0) {
          return {
            centroCode: splited[0].trim(),
            code: splited[1].trim(),
            totalInv,
            totalInvA: totalInv * this.table[key][5],
            libreUtil,
            libreUtilA: libreUtil * this.table[key][5],
            name: almacenesCompletos.find((ac) => ac.code == splited[1].trim())
              .name,
          };
        }
      }).filter((v) => v != null);
      const centros = [];
      let totalTotalInv = 0;
      let totalTotalInvA = 0;
      let totalLibreUtil = 0;
      let totalLibreUtilA = 0;
      for (const value of values) {
        totalTotalInvA += value.totalInvA;
        totalTotalInv += value.totalInv;
        totalLibreUtilA += value.libreUtilA;
        totalLibreUtil += value.libreUtil;
        if (centros.filter((c) => c.code == value.centroCode).length == 0) {
          centros.push({
            code: value.centroCode,
            almacenes: [value],
            totalInv: value.totalInv,
            totalInvA: value.totalInvA,
            libreUtil: value.libreUtil,
            libreUtilA: value.libreUtilA,
          });
        } else {
          centros.find((c) => c.code == value.centroCode).almacenes.push(value);
          centros.find((c) => c.code == value.centroCode).totalInv +=
            value.totalInv;
          centros.find((c) => c.code == value.centroCode).totalInvA +=
            value.totalInvA;
          centros.find((c) => c.code == value.centroCode).libreUtil +=
            value.libreUtil;
          centros.find((c) => c.code == value.centroCode).libreUtilA +=
            value.libreUtilA;
        }
      }
      this.almacenesCentro = {
        totalTotalInv,
        totalTotalInvA,
        totalLibreUtilA,
        totalLibreUtil,
        values: centros,
      };
      this.rowExtended = rowExtended == key ? null : key;
      this.updateDataCollection(false);

      // popula la tabla interna
      const innerTable = this.values.filter((value) => {
        return value["MATNR"].includes(this.table[key][0]);
      });
      this.subTable.table = this.makeTable(innerTable, true).map((row) => {
        return {
          0: "",
          1: row[3],
          2: "TODOS",
          3: this.formatMoney(row[5], 3),
          4: row[6],
          5: row[7],
          6: row[8],
          7: row[9],
          8: row[10],
          9: this.formatNumber(row[11], 2),
          10: 0,
          11: row[13],
          12: row[14],
        };
      });
      this.loading = false;
    },
    filterCentros(input) {
      this.centros = this.centrosCopy.filter((c) => {
        return (
          c.code.toLowerCase().includes(input.toLowerCase()) ||
          c.name.toLowerCase().includes(input.toLowerCase())
        );
      });
    },
    filterAlmacenes(input) {
      this.almacenes = this.almacenesCopy
        .map((centro) => {
          return {
            ...centro,
            almacenes: centro.almacenes.filter(
              (almancen) =>
                almancen.code.toLowerCase().includes(input.toLowerCase()) ||
                almancen.name.toLowerCase().includes(input.toLowerCase())
            ),
          };
        })
        .filter((centro) => centro.almacenes.length > 0);
    },
    changeDetailsFilter(state) {
      if (state) {
        this.filtros.almacenes = [];
      }
    },
    cellColor(filtered, code) {
      const v = filtered.find((f) => parseInt(f.MATNR) == code);
      const duracionDias = this.duracionDias(v);
      const stockmax = parseFloat(v.STOCK_MIN);
      const stockmin = parseFloat(v.STOCK_MAX);
      const midpoint = (stockmax - stockmin) / 2 + stockmin;
      if (stockmin > 0) {
        if (duracionDias > stockmax) {
          //consumo dia mayor
          return "hover:bg-gray-500 bg-gray-600 text-white";
        } else if (duracionDias < stockmin) {
          return "hover:bg-red-400 bg-red-500 text-white";
        } else if (duracionDias <= midpoint) {
          return "hover:bg-yellow-400 bg-yellow-500 text-gray-700";
        } else if (duracionDias > midpoint) {
          return "hover:bg-green-400 bg-green-500 text-white";
        }
      } else {
        return "hover:bg-gray-100 bg-white text-gray-700";
      }
    },
    filterByColor(c) {
      this.colors = this.colors.map((color) => {
        return {
          ...color,
          active: color.id == c.id ? !c.active : false,
        };
      });
    },
    processLogout() {
      this.$store.commit("logout", {
        status: false,
        username: "",
      });
      this.$router.push("/auth/login");
    },
    sortRow(key) {
      const currentTitle = this.titles[key];

      let count = 0;
      for (const title of this.titles) {
        if (key != count) {
          title.state = null;
        }
        count++;
      }

      this.sorting.key = key;
      this.sorting.active = true;
      if (currentTitle.state == null) {
        this.titles[key].state = 1;
        this.sorting.type = "ASC";
      } else if (currentTitle.state == 1) {
        this.titles[key].state = 2;
        this.sorting.type = "DESC";
      } else {
        this.titles[key].state = null;
        this.sorting.active = false;
        this.sorting.key = null;
        this.sorting.type = null;
      }
    },
    makeTable(values, showCentro = false) {
      const paginated = values.map((v) => {
        const TotalInv =
          parseFloat(v.LABST) +
          parseFloat(v.UMLME) +
          parseFloat(v.INSME) +
          parseFloat(v.EINME) +
          parseFloat(v.SPEME) +
          parseFloat(v.RETME) +
          parseFloat(v.VMLAB) +
          parseFloat(v.VMUML);
        return {
          0: parseInt(v.MATNR),
          1: v.MAKTX,
          2: v.MEINS,
          3: this.filtros.grouped && !showCentro ? "SELECC" : v.WERKS,
          4: v.LGORT != "" ? v.LGORT : "TODOS",
          5: v.SALK3 == 0 ? "" : v.SALK3 / v.LBKUM,
          6: this.filtros.showMoney
            ? this.formatMoney(
                TotalInv * (v.SALK3 == 0 ? "" : v.SALK3 / v.LBKUM),
                3
              )
            : this.formatNumber(TotalInv),
          7: this.filtros.showMoney
            ? this.formatMoney(
                v.LABST * (v.SALK3 == 0 ? "" : v.SALK3 / v.LBKUM),
                3
              )
            : this.formatNumber(v.LABST),

          8: this.filtros.showMoney
            ? this.formatMoney(
                v[this.months[new Date().getMonth()]] *
                  (v.SALK3 == 0 ? "" : v.SALK3 / v.LBKUM),
                3
              )
            : this.formatNumber(v[this.months[new Date().getMonth()]], 0), // mes anterior
          9: this.filtros.showMoney
            ? this.formatMoney(
                v[this.months[new Date().getMonth() + 1]] *
                  (v.SALK3 == 0 ? "" : v.SALK3 / v.LBKUM),
                3
              )
            : this.formatNumber(v[this.months[new Date().getMonth() + 1]], 0), // mes actual
          10: this.filtros.showMoney
            ? this.formatMoney(
                this.dailyConsume(v) * (v.SALK3 == 0 ? "" : v.SALK3 / v.LBKUM),
                3
              )
            : this.formatNumber(this.dailyConsume(v), 0),
          11: this.duracionDias(v),
          12: this.filtros.showMoney
            ? this.formatMoney(parseFloat(v.COMPRAS_PEND_USD) / 1000, 3)
            : this.formatNumber(v.COMPRAS_PEND),
          13: this.formatNumber(v.STOCK_MAX),
          14: this.formatNumber(v.STOCK_MIN),
          15: [
            parseFloat(v.ENE).toFixed(0), //v.ENE
            parseFloat(v.FEB).toFixed(0), //v.FEB
            parseFloat(v.MAR).toFixed(0), //v.MAR
            parseFloat(v.ABR).toFixed(0), //v.ABR
            parseFloat(v.MAY).toFixed(0), //v.MAY
            parseFloat(v.JUN).toFixed(0), //v.JUN
            parseFloat(v.JUL).toFixed(0), //v.JUL
            parseFloat(v.AGO).toFixed(0), //v.AGO
            parseFloat(v.SEP).toFixed(0), //v.SEP
            parseFloat(v.OCT).toFixed(0), //v.OCT
            parseFloat(v.NOV).toFixed(0), //v.NOV
            parseFloat(v.DIC).toFixed(0), //v.DIC
          ],
          16: [
            parseFloat(v.ENE_).toFixed(0), //v.ENE
            parseFloat(v.FEB_).toFixed(0), //v.FEB
            parseFloat(v.MAR_).toFixed(0), //v.MAR
            parseFloat(v.ABR_).toFixed(0), //v.ABR
            parseFloat(v.MAY_).toFixed(0), //v.MAY
            parseFloat(v.JUN_).toFixed(0), //v.JUN
            parseFloat(v.JUL_).toFixed(0), //v.JUL
            parseFloat(v.AGO_).toFixed(0), //v.AGO
            parseFloat(v.SEP_).toFixed(0), //v.SEP
            parseFloat(v.OCT_).toFixed(0), //v.OCT
            parseFloat(v.NOV_).toFixed(0), //v.NOV
            parseFloat(v.DIC_).toFixed(0), //v.DIC
          ],
          17: [
            parseFloat(v.ENE) == 0
              ? 0
              : (parseFloat(v.ENE) - parseFloat(v.ENE_)).toFixed(0), //v.ENE
            parseFloat(v.FEB) == 0
              ? 0
              : (parseFloat(v.FEB) - parseFloat(v.FEB_)).toFixed(0), //v.FEB
            parseFloat(v.MAR) == 0
              ? 0
              : (parseFloat(v.MAR) - parseFloat(v.MAR_)).toFixed(0), //v.MAR
            parseFloat(v.ABR) == 0
              ? 0
              : (parseFloat(v.ABR) - parseFloat(v.ABR_)).toFixed(0), //v.ABR
            parseFloat(v.MAY) == 0
              ? 0
              : (parseFloat(v.MAY) - parseFloat(v.MAY_)).toFixed(0), //v.MAY
            parseFloat(v.JUN) == 0
              ? 0
              : (parseFloat(v.JUN) - parseFloat(v.JUN_)).toFixed(0), //v.JUN
            parseFloat(v.JUL) == 0
              ? 0
              : (parseFloat(v.JUL) - parseFloat(v.JUL_)).toFixed(0), //v.JUL
            parseFloat(v.AGO) == 0
              ? 0
              : (parseFloat(v.AGO) - parseFloat(v.AGO_)).toFixed(0), //v.AGO
            parseFloat(v.SEP) == 0
              ? 0
              : (parseFloat(v.SEP) - parseFloat(v.SEP_)).toFixed(0), //v.SEP
            parseFloat(v.OCT) == 0
              ? 0
              : (parseFloat(v.OCT) - parseFloat(v.OCT_)).toFixed(0), //v.OCT
            parseFloat(v.NOV) == 0
              ? 0
              : (parseFloat(v.NOV) - parseFloat(v.NOV_)).toFixed(0), //v.NOV
            parseFloat(v.DIC) == 0
              ? 0
              : (parseFloat(v.DIC) - parseFloat(v.DIC_)).toFixed(0), //v.DIC
          ],
        };
      });
      return paginated;
    },
    resetDays(value) {
      if (!value) {
        this.filtros.range = [
          startOfMonth(subMonths(new Date(), 1)),
          new Date(),
        ];
      }
    },
    createDataset(data1, data2, data3) {
      const datasets = [
        {
          label: new Date().getFullYear(),
          backgroundColor: "#48BB78",
          data: data1,
        },
      ];
      if (data2 != null) {
        datasets.unshift({
          label: new Date().getFullYear() - 1,
          backgroundColor: "#A0AEC0",
          data: data2,
        });
      }
      if (data3 != null) {
        datasets.unshift({
          label: "Diferencia",
          backgroundColor: "#4299E1",
          borderColor: "#4299E1",
          borderWidth: 2,
          data: data3,
          type: "line",
          fill: false,
        });
      }
      return datasets;
    },
    updateDataCollection(status) {
      const months = Object.values(this.months);
      if (status) {
        // Compras
        this.datacollection = {
          labels: months,
          datasets: this.createDataset(
            this.subTable.purchases[0],
            this.subTable.purchases[1],
            this.subTable.purchases[2]
          ),
        };
      } else {
        // Consumos
        this.datacollection = {
          labels: months,
          datasets: this.createDataset(
            this.table[this.rowExtended][15],
            this.table[this.rowExtended][16],
            this.table[this.rowExtended][17]
          ),
        };
      }
    },
    setTempMinMaxGroups(grupos, selected) {
      const found = grupos.find((g) => g.code == selected);
      this.settings.group.min = found != null ? found.min : 0;
      this.settings.group.max = found != null ? found.max : 0;
    },
    setTempMinMaxProducts(productos, selected) {
      const found = productos.find((g) => g.code == selected);
      this.settings.product.min = found != null ? found.min : 0;
      this.settings.product.max = found != null ? found.max : 0;
    },
    updateMinMax(item, type) {
      this.$confirm(
        "¿Estás seguro que deseas guardar estos rangos?",
        "Confirmación",
        {
          confirmButtonText: "Si, guardar",
          cancelButtonText: "Cancelar",
          type: "warning",
          beforeClose: (action, instance, done) => {
            if (action === "confirm") {
              instance.confirmButtonLoading = true;
              instance.confirmButtonText = "Procesando...";
              this.$axios
                .$post(`/visor/ranges/${type}`, {
                  ID: type == "group" ? item.group : item.product,
                  MIN: item.min,
                  MAX: item.max,
                })
                .then((res) => {
                  this.$notify({
                    title: "ÉXITO",
                    message: res.message,
                    type: "success",
                  });
                  this.getMaxesMines();
                  instance.confirmButtonLoading = false;
                  instance.confirmButtonText = "Si, guardar";
                  done();
                })
                .catch((err) => {
                  this.$notify({
                    title: "ERROR",
                    message:
                      "Ha ocurrido un error al actualizar, contacta con tu administrador.",
                    type: "error",
                  });
                });
            } else {
              done();
            }
          },
        }
      );
    },
    async getMaxesMines() {
      const max_mins = await this.$axios.$get("/visor/ranges");

      this.settings.group.grupos = this.grupo_articulos.map((g) => {
        let found = max_mins.group.find((mm) => mm.ID.trim() == g.code.trim());
        let max = 0;
        let min = 0;
        if (found != null) {
          max = found.MAX;
          min = found.MIN;
        }
        return {
          ...g,
          max,
          min,
        };
      });
      this.settings.product.productos = this.productos.map((g) => {
        let found = max_mins.product.find((mm) => mm.ID.trim() == g.code);
        let max = 0;
        let min = 0;
        if (found != null) {
          max = found.MAX;
          min = found.MIN;
        }
        return {
          ...g,
          max,
          min,
        };
      });
    },
    activateFiltro({ selected, products }) {
      if (this.filtros.centros.length == 0) {
        this.filtros.centros = ["1001", "1002", "1003"];
        this.search(this.filtros);
      }
      this.filtros.search = "";
      this.filtros.grupo_articulo = "";
      this.filtroActivo.selected =
        this.filtroActivo.selected == selected ? null : selected;
      this.filtroActivo.products = products;
    },
    remoteMethodProduct(query) {
      if (query.length > 2) {
        this.settings.product.filtered = this.settings.product.productos.filter(
          (p) => {
            const code = p.code.toString().toLowerCase();
            const name = p.name.toLowerCase();
            return (
              code.includes(query.toLowerCase()) ||
              name.includes(query.toLowerCase())
            );
          }
        );
      } else {
        this.settings.product.filtered = [];
      }
    },
    remoteMethodGroup(query) {
      if (query.length > 2) {
        this.settings.group.filtered = this.settings.group.grupos.filter(
          (p) => {
            const code = p.code.toString().toLowerCase();
            const name = p.name.toLowerCase();
            return (
              code.includes(query.toLowerCase()) ||
              name.includes(query.toLowerCase())
            );
          }
        );
      } else {
        this.settings.group.filtered = [];
      }
    },
  },
  computed: {
    filtered() {
      this.rowExtended = null;
      const grupo = this.filtros.grupo_articulo;
      const searchValue = this.filtros.search.toLowerCase();

      const filtered = this.values
        .filter((value) => {
          let hasGroup = true;
          if (grupo != "") {
            hasGroup = value.MATKL == grupo;
          }

          return (
            hasGroup &&
            (value.MAKTX.toLowerCase().includes(searchValue) ||
              parseInt(value.MATNR)
                .toString()
                .includes(searchValue))
          );
        })
        .filter((v) => {
          let pass = true;
          const color = this.colors.find((color) => color.active);
          if (color) {
            const libutil = parseFloat(v.LABST);
            const stockmax = parseFloat(v.STOCK_MIN);
            const stockmin = parseFloat(v.STOCK_MAX);
            const midpoint = (stockmax - stockmin) / 2 + stockmin;
            switch (color.id) {
              case 1:
                pass = stockmin > 0 && libutil > stockmax;
                break;
              case 2:
                pass = stockmin > 0 && libutil < stockmin;
                break;
              case 3:
                pass =
                  stockmin > 0 && libutil >= stockmin && libutil <= midpoint;
                break;
              case 4:
                pass =
                  stockmin > 0 && libutil > midpoint && libutil <= stockmax;
                break;
            }
          }
          return pass;
        })
        .filter((v) => {
          let pass = true;
          const filtro = this.filtroActivo.selected;
          if (filtro && this.filtroActivo.products.length > 0) {
            pass = this.filtroActivo.products.includes(
              parseInt(v.MATNR).toString()
            );
          }
          return pass;
        })
        .map((v) => {
          const foundGroup = this.settings.group.grupos.find(
            (g) => g.code == v.MATKL
          );
          const foundProduct = this.settings.product.productos.find(
            (g) => g.code == v.MATNR
          );
          const STOCK_MAX =
            foundProduct.min == 0 ? foundGroup.min : foundProduct.min;
          const STOCK_MIN =
            foundProduct.max == 0 ? foundGroup.max : foundProduct.max;

          return {
            ...v,
            STOCK_MAX,
            STOCK_MIN,
          };
        });

      const groupSumBy = (groupby, sumby, values) => {
        const grouped = R.pipe(R.groupBy(R.prop(groupby)), R.valuesIn)(values);

        return grouped.map((array) => {
          if (R.length(array) == 1) {
            return array[0];
          }

          const result = { ...array[0] };
          for (const item of sumby) {
            result[item] = 0;
            for (const arr of array) {
              // if (arr.MATNR.includes("120208")) {}
              result[item] += parseFloat(arr[item]);
            }
            result[item] = result[item].toFixed(3);
          }
          return result;
        });
      };
      const fields = [
        "LABST",
        "UMLME",
        "INSME",
        "EINME",
        "SPEME",
        "RETME",
        "VMLAB",
        "VMUML",
        "VMINS",
        "VMEIN",
        "VMSPE",
        "VMRET",
        "MATKL",
        "ENE",
        "FEB",
        "MAR",
        "ABR",
        "MAY",
        "JUN",
        "JUL",
        "AGO",
        "SEP",
        "OCT",
        "NOV",
        "DIC",
        "LBKUM",
        "SALK3",
        "ENE_",
        "FEB_",
        "MAR_",
        "ABR_",
        "MAY_",
        "JUN_",
        "JUL_",
        "AGO_",
        "SEP_",
        "OCT_",
        "NOV_",
        "DIC_",
        "MUV01",
        "MUV02",
        "MUV03",
        "MUV04",
        "MUV05",
        "MUV06",
        "MUV07",
        "MUV08",
        "MUV09",
        "MUV10",
        "MUV11",
        "MUV12",
        "MUV01_",
        "MUV02_",
        "MUV03_",
        "MUV04_",
        "MUV05_",
        "MUV06_",
        "MUV07_",
        "MUV08_",
        "MUV09_",
        "MUV10_",
        "MUV11_",
        "MUV12_",
      ];
      const retur = groupSumBy("MATNR", fields, filtered);
      return retur;
    },
    paginated() {
      const { size, page } = this.pagination;
      const start = page * size - size;
      const end = start + size;
      return this.filtered.slice(start, end);
    },
    table() {
      let table = this.makeTable(this.paginated);
      const { active, key, type } = this.sorting;
      if (active) {
        table = table.sort((a, b) => {
          switch (key) {
            case 6:
            case 7:
            case 8:
            case 9:
            case 10:
            case 12:
              const aValue = this.filtros.showMoney
                ? parseFloat(a[key].replace("$", "").replace(",", ""))
                : parseFloat(a[key].replace(",", ""));
              const bValue = this.filtros.showMoney
                ? parseFloat(b[key].replace("$", "").replace(",", ""))
                : parseFloat(b[key].replace(",", ""));
              if (aValue < bValue) return type == "ASC" ? -1 : 1;
              if (aValue > bValue) return type == "ASC" ? 1 : -1;
              return 0;
              break;
            default:
              if (a[key] < b[key]) return type == "ASC" ? -1 : 1;
              if (a[key] > b[key]) return type == "ASC" ? 1 : -1;
              return 0;
              break;
          }
        });
      }
      return table;
    },
  },
  async fetch() {
    const grupos = await this.$axios.$get("/tablefs", {
      params: {
        table: "T023T",
        where: "SPRAS = 'S'",
        fields: "MATKL,WGBEZ",
      },
    });
    this.grupo_articulos = grupos.DATA.map((g) => {
      const splited = g.WA.split(";");
      return {
        code: splited[0].trim(),
        name: splited[1].trim(),
      };
    }).slice(1);
    const productos = await this.$axios.$get("/tablefs", {
      params: {
        table: "MAKT",
        where: `SPRAS = 'S'`,
        fields: "MATNR,MAKTX",
      },
    });
    this.productos = productos.DATA.map((p) => {
      const row = p.WA.split(";");
      return {
        code: parseInt(row[0]),
        name: row[1],
      };
    });
    this.getMaxesMines();

    const centros = await this.$axios.$get("/tablefs", {
      params: {
        table: "T001W",
        where: "BEDPL = 'X'",
        fields: "WERKS,STRAS,ORT01,NAME1",
      },
    });

    this.centros = centros.DATA.map((d) => {
      const splited = d.WA.split(";");
      return {
        code: splited[0].trim(),
        address: splited[1].trim(),
        state: splited[2].trim(),
        name: splited[3].trim(),
      };
    });
    this.centrosCopy = this.centros;
  },
  fetchOnServer: true,
};
</script>
